# Cline ルール設定

このファイルは、状況に応じて適用するルールを定義します。
ルールを守って作業を行ってください。

## デフォルトルール

- **重要：指示されたファイルや箇所以外は変更しないこと。変更が必要な場合は、必ず事前に確認を行うこと。**
- 平易でわかりやすい日本語を使用
- 「提案して」のような表現の時は提案に留めて実行をしない。
- 何かを行う際には必ず報連相を行う。
- このルール以外の決まり事は各ルールセットを読み込み適用。

## ルールセット

- .ai/coding.md 基本的にコードを書く際の決まり
- .ai/task.md タスクの管理方法
